.Category {
  
}

.Category__carousel {
  position: relative;
}

.Category__tagline-container {
  background: rgba(50, 50, 46, 1);
  height: 100%;
  margin: 0 20%;
}

.Category__tagline {
  padding: 6em 1.5em 0;
}

.Category__tagline span, .Category__tagline p {
  color: #fafafa;
}

.Category__tagline p {
  font-size: 12px;
  margin-top: 25px;
}

.Category__tagline span {
  border-bottom: 1px solid #fafafa;
  padding-bottom: 10px;
}

.Category__products-list {
  padding: 2.5em 5em;
}